{{> header}}
{{> menu}}

<main>
  <h2>Pellícules</h2>

  <div class="grid">
    {{#each movies}}
      <div class="card">
        <img src="/imatges/{{film_id}}.jpg" alt="{{title}}" class="poster">
        <h3>{{title}}</h3>
        <p><b>Any:</b> {{release_year}}</p>
        <p><b>Actors:</b> {{actors}}</p>
      </div>
    {{/each}}
  </div>

  <h2>Categories</h2>
  <ul>
    {{#each categories}}
      <li>{{name}}</li>
    {{/each}}
  </ul>
</main>

{{> footer}}